.add-button{
  background-color: #258eaf;
  color: white;
  text-align: center;
  width: 110px;
  margin-left: 2%;
  margin-top: 40px;
  margin-right: 2%;
}

.add-top-button{
  background-color: #cd3cff;
  color: white;
  text-align: center;
  width: 110px;
  margin-left: 2%;
  margin-right: 2%;
}


.item-add-box{
  border-radius: 5px;
  background-color: rgba(0,0,0,0.06);
  height: 450px;
}

.item-info{
  width: 80%;
  margin: auto;
}

.input-label{
  margin-top: 20px;
  width: 35%;
}

.input-card{
  margin-top: 20px;
  margin-left: 5%;
  width: 60%;
}




