<ul class="font">
  <li class="site-name" routerLink="/">Company property management</li>
  <div *appAuthorized>
    <div *appUser>
      <li ><a routerLink="items">Items</a></li>
      <div *ngIf="showItemSideBar()" >
        <li *appManager class="items"><a routerLink="item/new">>New</a></li>
        <li class="items"><a routerLink="items">>All</a></li>
      </div>
    </div>
    <div *appUser>
    <li><a routerLink="my/reservations">Orders</a></li>
    <div *ngIf="showReservationSideBar()" >
      <li class="items"><a routerLink="reservation/new">>New</a></li>
      <li class="items"><a routerLink="my/reservations">>My</a></li>
      <li *appManager class="items"><a routerLink="reservations/all">>My location</a></li>
    </div>
    </div>
    <div *appUser>
    <li><a routerLink="my/checkout">Check-out</a></li>
    <div *ngIf="showCheckOutSideBar()" >
      <li class="items"><a routerLink="checkout/new">>New</a></li>
      <li class="items"><a routerLink="my/checkout">>My</a></li>
      <li *appManager class="items"><a routerLink="checkout/all">>My location</a></li>
    </div>
    </div>
    <div *appUser>
    <li><a *appUser routerLink="reports/my">Reports</a></li>
    <div *ngIf="showReportsSideBar()" >
      <li class="items"><a routerLink="report/new">>New</a></li>
      <li class="items"><a routerLink="reports/my">>My</a></li>
    </div>
    </div>
    <div *appServiceman>
      <li><a routerLink="reports">Reports</a></li>
      <div *ngIf="showReportsSideBar()" >
        <li class="items"><a routerLink="reports">>All</a></li>
      </div>
    </div>
    <div *appManager>
    <li><a routerLink="stocktaking/new">Stocktaking</a></li>
    <div *ngIf="showStocktakingSideBar()" >
      <li class="items"><a routerLink="stocktaking/new">>New</a></li>
      <li class="items"><a routerLink="stocktaking/location">>All</a></li>
    </div>
    </div>
    <div *appManager>
    <li><a routerLink="users">Users</a></li>
    <li><a routerLink="locations">Locations</a></li>
    </div>


  </div>
  <div *appAuthorized>
    <li style="float:right"><a class="active" (click)="logout()">Logout</a></li>
    <li style="float:right"><a class="active" routerLink="profile/my">{{personData}}</a></li>
  </div>
  <div *appUnauthorized>
    <li style="float:right"><a class="active" routerLink="login">Sign in</a></li>
  </div>

</ul>
