<ul class="font">
  <li class="site-name" routerLink="/">Company property management</li>
  <div *appAuthorized>
    <li><a routerLink="items">Items</a></li>
    <div *ngIf="showItemSideBar()" >
      <li class="items"><a routerLink="item/new">>New item</a></li>
      <li class="items"><a routerLink="items">>Item list</a></li>
      <li class="items"><a routerLink="items/settings">>Settings</a></li>
    </div>
    <li><a routerLink="my/reservations">Reservations</a></li>
    <div *ngIf="showReservationSideBar()" >
      <li class="items"><a routerLink="reservation/new">>New</a></li>
      <li class="items"><a routerLink="my/reservations">>My</a></li>
      <li class="items"><a routerLink="reservations/all">>All</a></li>
    </div>
    <li><a routerLink="my/checkout">Check-out</a></li>
    <div *ngIf="showCheckOutSideBar()" >
      <li class="items"><a routerLink="checkout/new">>New</a></li>
      <li class="items"><a routerLink="my/checkout">>My</a></li>
      <li class="items"><a routerLink="checkout/all">>All</a></li>
    </div>
    <li><a href="#contact">My Items</a></li>
    <li><a href="#contact">Reports</a></li>


  </div>
  <div *appAuthorized>
    <li style="float:right"><a class="active" (click)="logout()">Logout</a></li>
    <li style="float:right"><a class="active" href="#about">{{personData}}</a></li>
  </div>
  <div *appUnauthorized>
    <li style="float:right"><a class="active" routerLink="login">Sign in</a></li>
  </div>

</ul>
