<ul class="font">
  <li class="site-name">Company property management</li>
  <div *appAuthorized>
    <li><a href="#home">Items</a></li>
    <li><a href="#news">Reservations</a></li>
    <li><a href="#contact">My Items</a></li>
    <li><a href="#contact">Reports</a></li>
  </div>
  <div *appAuthorized>
    <li style="float:right"><a class="active" (click)="logout()">Logout</a></li>
    <li style="float:right"><a class="active" href="#about">{{personData}}</a></li>
  </div>
  <div *appUnauthorized>
    <li style="float:right"><a class="active" (click)="navigateLogin()">Sign in</a></li>
  </div>

</ul>
