.name-location-header{
  font-size: 18pt;
  margin-left: 5%;

}

.name-location-value-box{
  width: 70%;
  height: 80px;
  text-align: center;
  vertical-align: center;
  background-color: #333;
  color: white;
  font-size: 16pt;
  float: right;
  margin-right: 4%;
  margin-top: 10px;
}

.name-location-value{
  margin-top: 20px;
}

.edit-button{
  background-color: #258eaf;
  float: right;
  color: white;
  width: 200px;
  margin-top: 30px;
  margin-bottom: 100px;
}

.delete-button{
  background-color: #cd3cff;
  float: right;
  color: white;
  width: 200px;
  margin-right: 10%;
}

.properties-fields{
  margin-top: 40px;
  margin-bottom: 200px;
}

.edit-input{
  width: 70%;
  border-radius: 5px;
  background-color: rgba(255,255,255,0.95);
  color: black;
  margin-top: 20px;
  margin-left: 15%;
  float: inside;
}


