
.mat-form-field {
  font-size: 14px;
  width: 100%;
}

table {
  width: 100%;
}

tr.example-detail-row {
  height: 0 !important;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: #f5f5f5;
}

.checked-sheet{
  background-color: #258eaf;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  font-size: 14pt;
  border-bottom-width: 0;
}


.more-button{
  background-color: #258eaf;
  color: white;
  float: right;
  margin-bottom: 2%;
  width: 160px;
  margin-left: 1%;
}

.tab-subpage-content{
  margin-top: 1%;
  border-radius: 8px;
  background-color: rgba(0,0,0,0.06);
  height: 450px;
}

.tab-small-subpage-content{
  margin-top: 1%;
  border-radius: 8px;
  background-color: rgba(0,0,0,0.06);
  height: 350px;
}

.info-tab{
  width: 80%;

}

.property-input{
  width: 70%;
  float: right;
}

.property-value{
  float: right;
  color: rgba(0,0,0,0.6);
}

.property-value-expandable{
  right: 5%;
  color: black;
  position: absolute;
}

.properties-fields{
  margin-top: 60px;
  margin-bottom: 200px;
}

.save-button{
  float: right;
  background-color: #258eaf;
  color: white;
  text-align: center;
  width: 250px;
  margin-left: 2%;
  margin-right: 2%;
}

.description-headers{
  margin-left: 2%;
  color: rgba(0, 0, 0, 0.6);
}

.filling-input{
  width: 50% !important;
  right: 6%;
  position: absolute;
}

.narrow-column {
  width: 9%;
}

.narrow-code-column{
  width: 10%;
}

.value-column{
  width: 13%;
}

.not-confirmed{
  color: red;
}

.confirmed{
  color: lawngreen;
}

.checked-icon-info{
  margin-left: 20px;
}

.name-column{
   width: 20%;
 }

.name-column-pdf{
  width: 25%;
}
.narrow-column-pdf{
  width: 9%;
}

.narrow-code-column-pdf{
  width: 10%;
}

.value-column{
  width: 16%;
}

tr.pdf-element-row {
  height: 0 !important;
}


tr.pdf-element-row:not(.pdf-element-row):active {
  background: #efefef;
}

.pdf-element-row td {
  font-size: 12pt;
  border-bottom-width: 0;
}

.pdf-file{
  width: 100%;
}

.head-table-pdf{
  font-size: 5pt;
}
