<div class="container-fluid font main-card">
  <div class="card">
    <div *appAuthorized class="card-body">
      <div *appManager>
        <p class="subpage-info">>Item </p>
        <hr>
        <div class="button-row float-right manage-btn">
          <button mat-button [matMenuTriggerFor]="menu" class="action-btn">Menu</button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item class="action-window">Item 1</button>
            <button mat-menu-item class="action-window">Item 2</button>
          </mat-menu>
          <button mat-raised-button class="more-button" (click)="reserveItem()">Reserve</button>
          <button mat-raised-button class="more-button">Check-out</button>
        </div>
        <hr style="margin-top: 70px">
        <mat-spinner [diameter]="200" class="loading-data-spinner" *ngIf="!dataLoaded"></mat-spinner>
        <div *ngIf="dataLoaded">
          <div class="item-info-box">
            <img [src]="src" alt="{{name}}" class="img-responsive item-image">
            <div class="item-info">
              <p class="brand-info">{{item.brand}}</p>
              <p>{{item.model}}</p>
              <p>Dostępność</p>
            </div>
          </div>
          <hr>
          <mat-tab-group>
            <mat-tab label="Dashboard">
              <div class="tab-subpage-content">
                <!--Informacja czy produkt jest aktualnie dostępny, Timeline oraz kalendarz-->
                <!--z-->
                <!--dniami kiedy wolny a kiedy zajęty item-->
                <mwl-demo-utils-calendar-header
                  [(view)]="view"
                  [(viewDate)]="viewDate"
                  (viewDateChange)="fetchEvents()"
                  (viewChange)="fetchEvents()">
                </mwl-demo-utils-calendar-header>

                <ng-template #loading>
                  <div class="text-center">
                    <i class="fa fa-spin fa-spinner fa-5x"></i>
                    <br>
                    Loading events...
                  </div>
                </ng-template>


                  <div [ngSwitch]="view">
                    <mwl-calendar-month-view
                      [viewDate]="viewDate"
                      [events]="events"
                      [activeDayIsOpen]="activeDayIsOpen"
                      (dayClicked)="dayClicked($event.day)"
                      (eventClicked)="eventClicked($event.event)">
                    </mwl-calendar-month-view>

                   </div>

              </div>
            </mat-tab>
            <mat-tab label="Info">
              <div class="tab-subpage-content">
                <div class="row info-tab">
                  <div class="info-column-left">
                    <p style="color: rgba(0,0,0,0.4); margin-left: 20px; padding-top: 15px;">INFORMATION</p>
                    <div class="card properties-fields">
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">Brand
                          <span class="property-value">{{item.brand}}</span>
                        </li>
                        <li class="list-group-item">Model
                          <span class="property-value">{{item.model}}</span>
                        </li>
                        <li class="list-group-item">Purchase date
                          <span class="property-value">{{item.purchaseDate | simpleDate}}</span>
                        </li>
                        <li class="list-group-item">Purchase price
                          <span class="property-value">{{item.value}}</span>
                        </li>
                        <li class="list-group-item">Residual value
                          <span class="property-value">{{item.residualValue===null ? 'not set' : item.residualValue}}</span>
                        </li>
                        <li class="list-group-item">Warranty date
                          <span class="property-value">{{item.warrantyDate | simpleDate}}</span>
                        </li>
                        <li class="list-group-item">Serial number
                          <span class="property-value">{{item.serialNumber}}</span>
                        </li>
                        <li class="list-group-item">Owner
                          <span class="property-value">OWNER</span>
                        </li>
                        <li class="list-group-item">Description
                          <span class="property-value">{{item.description}}</span>
                        </li>
                        <li class="list-group-item">Location
                          <span class="property-value">{{item.location.name+' '+item.location.address}}</span>
                        </li>
                      </ul>
                    </div>
                  </div>

                  <div class="info-column-right">
                    <p style="color: rgba(0,0,0,0.4); margin-left: 20px; padding-top: 15px;">EXTRA</p>
                    <div class="card properties-fields">
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">Creator
                          <span class="property-value">{{item.creationUser.idPersonaldata.name +' '+item.creationUser.idPersonaldata.surname}}</span>
                        </li>
                        <li class="list-group-item">Modify data
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>


              </div>
            </mat-tab>
            <mat-tab label="Comments">
              <div class="tab-subpage-content"> Komentarz na temat produktu</div>
            </mat-tab>
            <mat-tab label="Depreciation">
              <div class="tab-subpage-content"> Aktualna wartość, data zakupu, cena zakupu, (?wykres z ceną)</div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
    <div *appUnauthorized class="card-body">
      Welcome on our page sign in to see the content.
    </div>

  </div>

</div>
