<div class="container-fluid font main-card">
  <div class="card">
    <div *appAuthorized class="card-body">
      <div *appManager>
        <p class="subpage-info">>Profile </p>
        <hr>
        <div class="button-row float-right manage-btn">
          <button mat-button [matMenuTriggerFor]="menu" class="action-btn">Menu</button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item class="action-window" (click)="changePersonalData()">Change my personal data</button>
            <button mat-menu-item class="action-window">Change password</button>
          </mat-menu>
          <button mat-raised-button class="more-button" (click)="changeUserRole()" >Change role</button>
          <button mat-raised-button class="more-button">Delete user</button>
        </div>
        <hr style="margin-top: 70px">
        <mat-spinner [diameter]="200" class="loading-data-spinner" *ngIf="!dataLoaded"></mat-spinner>
        <div *ngIf="dataLoaded">
          <div class="item-info-box">
            <img [src]="src" alt="{{name}}" class="img-responsive item-image">
            <div class="item-info">
              <p class="brand-info">{{user.idPersonaldata.surname}}</p>
              <p>{{user.idPersonaldata.name}}</p>
            </div>
          </div>
          <hr>
          <mat-tab-group>
            <mat-tab label="Information">
              <div ngClass="{{changingPersonalData ? 'tab-subpage-content-large' : 'tab-subpage-content-small'}}">
                <div class="row info-tab">
                  <div class="info-column-left">
                    <p style="color: rgba(0,0,0,0.4); margin-left: 20px; padding-top: 15px;">INFORMATION</p>
                    <div class="card properties-fields">
                      <ul class="list-group list-group-flush">
                        <li ngClass="{{changingPersonalData ? 'high-row' : ''}}" class="list-group-item">Username
                          <span class="property-value-right">{{user.username}}</span>
                        </li>
                        <li ngClass="{{changingPersonalData ? 'high-row' : ''}}" class="list-group-item">Email
                          <span class="property-value-right">{{user.email}}</span>
                        </li>
                        <li ngClass="{{changingPersonalData ? 'high-row' : ''}}" class="list-group-item">Role
                          <span *ngIf="!changingRole" class="property-value-right">{{user.idRole.name}}</span>
                          <mat-form-field class="property-value-right" *ngIf="changingRole">
                            <mat-select   [(value)]="newUserRole">
                              <mat-option *ngFor="let role of availableRoles" value="{{role}}">{{role}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </li>
                        <li class="list-group-item">Name
                          <span *ngIf="!changingPersonalData" class="property-value-right">{{user.idPersonaldata.name}}</span>
                          <mat-form-field class="property-value-right" *ngIf="changingPersonalData">
                            <input [(ngModel)]="newPersonalData.name" matInput placeholder="Name" value="Sushi">
                          </mat-form-field>
                        </li>
                        <li class="list-group-item">Surname
                          <span *ngIf="!changingPersonalData" class="property-value-right">{{user.idPersonaldata.surname}}</span>
                          <mat-form-field class="property-value-right" *ngIf="changingPersonalData">
                            <input [(ngModel)]="newPersonalData.surname" matInput placeholder="Surname" value="Sushi">
                          </mat-form-field>
                        </li>
                        <li ngClass="{{changingPersonalData ? 'high-row' : ''}}" class="list-group-item">Date of birth
                          <span class="property-value-right">{{user.idPersonaldata.dateOfBirth | simpleDate}}</span>
                        </li>
                        <li class="list-group-item">Gender
                          <span *ngIf="!changingPersonalData" class="property-value-right">{{user.idPersonaldata.gender}}</span>
                          <mat-form-field class="property-value-right" *ngIf="changingPersonalData" >
                            <input [(ngModel)]="newPersonalData.gender" matInput placeholder="Gender" value="Sushi">
                          </mat-form-field>
                        </li>

                      </ul>
                    </div>
                  </div>

                  <div class="info-column-right">
                    <p style="color: rgba(0,0,0,0.4); margin-left: 20px; padding-top: 15px;">EXTRA</p>
                    <div class="card properties-fields">
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">Creator
                          <span class="property-value-right"></span>
                        </li>
                        <li class="list-group-item">Modify data
                        </li>
                      </ul>
                    </div>
                    <button *ngIf="changingPersonalData" mat-raised-button class="more-button float-right top-space-sm" (click)="saveNewPersonalData()">Save new profile</button>
                    <button *ngIf="changingRole" mat-raised-button class="more-button float-right top-space-sm" (click)="saveNewRole()" >Save new role</button>
                  </div>
                </div>
              </div>
            </mat-tab>
            <mat-tab label="Items">

              <div class="row info-tab tab-subpage-content-small">
                <div class="list-item-column">
                  <p style="color: rgba(0,0,0,0.4); margin-left: 20px; padding-top: 15px;">ITEMS</p>
                  <div *ngIf="actionsLoaded && userActionsActual.length>0" class="card properties-fields">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item list-item-row"
                          *ngFor="let action of userActionsActual"
                          (click)="openDetails(action)">
                        Type: <span style="color: rgba(0,0,0,0.6); margin-right: 10%">{{action.type}}</span>
                        Item: <span style="color: rgba(0,0,0,0.6);">{{ action.itemId.brand + ' '+action.itemId.model}}</span>
                        <span style="float: right">
                          To: <span style="color: rgba(0,0,0,0.6); "> {{action.to | datetime}}</span>
                        </span>
                      </li>
                    </ul>
                  </div>
                  <p *ngIf="actionsLoaded && userActionsActual.length===0">
                    User do not have any item history...
                  </p>
                </div>
              </div>

            </mat-tab>
            <mat-tab label="Item history">
              <div class="row info-tab tab-subpage-content-small">
                <div class="list-item-column">
                  <p style="color: rgba(0,0,0,0.4); margin-left: 20px; padding-top: 15px;">ITEMS HISTORY</p>
                  <div *ngIf="actionsLoaded && userActionsHistory.length>0" class="card properties-fields">
                    <ul class="list-group list-group-flush">
                      <li
                        class="list-group-item list-item-row"
                        *ngFor="let historyAction of userActionsHistory"
                        (click)="openDetails(historyAction)">
                        Type: <span style="color: rgba(0,0,0,0.6); margin-right: 10%">{{historyAction.type}}</span>
                        Item: <span style="color: rgba(0,0,0,0.6);">{{ historyAction.itemId.brand + ' '+historyAction.itemId.model}}</span>
                        <span style="float: right">
                          From: <span style="color: rgba(0,0,0,0.6);"> {{historyAction.from | datetime}}</span>
                          To: <span style="color: rgba(0,0,0,0.6); "> {{historyAction.to | datetime}}</span>
                        </span>
                      </li>
                    </ul>
                  </div>
                  <div *ngIf="actionsLoaded && userActionsHistory.length===0">
                    User do not have any item history...
                  </div>
                </div>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
    <div *appUnauthorized class="card-body">
      Welcome on our page sign in to see the content.
    </div>

  </div>

</div>
